/*Généralités*/

html {
  scroll-behavior: smooth;
}

body {
  color: #fff;
  background: url(images/background.jpg) fixed no-repeat;
  background-size: 100%;

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  margin: 0;
  padding: 0;

  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/*Utilitaires*/

.big-title,
.small-title {
  margin: 5px 0;

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.big-title {
  font-size: 4vw;
}

.small-title {
  font-size: 2.5vw;
}

.text {
  margin: 20px;

  font-size: 25px;
  transition: all 1s;
  filter: opacity(0);
}

.box-left,
.box-right,
.box-middle {
  display: flex;
  justify-content: space-between;

  margin-bottom: 300px;
  padding: 50px;

  width: 70%;

  background-color: #000;
}

.box-img {
  transition: all 1s;

  margin: 10px 100px;

  height: 200px;

  filter: opacity(0);
}

.box-left {
  margin-left: 65px;
  float: left;
}

.box-right {
  margin-right: 65px;
  flex-direction: row-reverse;
  float: right;
}

.box-middle {
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.box-columns {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.box-columns .text {
  width: 33%;
}

.box-columns img {
  width: auto;
  height: fit-content;
  margin: 0;
}

.arrow-nav {
  transition: all 0.15s;

  position: fixed;
  bottom: 10px;
  right: 50%;
}

/*Header*/
.header {
  transition: all 1s;

  position: relative;
}

.banner {
  width: 100%;
  height: auto;
}

.titles {
  position: absolute;
  top: 120px;
  left: 20px;
}

.titles img {
  width: 5vw;

  position: relative;
  top: 0.65em;
}

/*Menu*/
.menu {
  background-color: #000;

  position: relative;
  bottom: 30px;

  padding: 0 40px;

  margin-left: 30px;

  border-radius: 5px;
  width: 50%;
}

.menu ul {
  list-style: none;

  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-around;
}

.menu ul a {
  display: block;

  margin: 0;
  padding: 15px;

  width: 100%;

  text-align: center;
}

.menu ul a:hover {
  background-color: #fff;
  color: #000;
}

/*Main*/

.main {
  margin-top: 300px;

  margin-bottom: 300px;
}

/*Footer*/

.footer {
  background-color: #000;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

.footer a {
  text-decoration: underline;
}
